{% extends 'base.html' %}

{% block title %} articolio.com | Post {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-3">
  {% for post in allPosts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-body-secondary">{{post.timestamp}}</div>
      <p class="card-text mb-auto">
      <div class="preview">{{post.content | safe | truncatechars:200}}</div>
      </p>
      <a href='/blog/{{post.slug}}'><button class="btn btn-secondary">Read more</button></a>
    </div>
    {% if post.img %}
    <div class="col-auto d-none d-lg-block">
      <img src="{{post.img.url}}" aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock body %}
{% block js %}
<script>
  const iText = document.getElementsByClassName("preview")
  Array.from(iText).forEach(el => el.innerHTML = el.innerText)
</script>
{% endblock %}